{% extends 'main.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}


<style>
	/*body{
		background-color: #e2e8f0;
	}*/
	.card-title i{
		display: inline-block;
		font-size: 16px;
		color: #007bff;
		text-align: center;
		border: 1px solid #007bff;
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 50%;
		margin:0 5px;
	}
	.card-title i:hover{
		color:#3366cc;
		background-color:#007bff;
	}
	#title_image{
		max-width:100%;
		max-height:169px;
		margin: 0 auto;
        
	}
	#cardshadow{
      background-color: #ffffff;
      box-shadow:  0 0 10px  rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	}
	.nav-tabs .nav-link.active {
    	font-weight:bold;
    	background-color: transparent;
    	border-bottom:3px solid #dd0000;
    	border-right: none;
    	border-left: none;
    	border-top: none;
	}
	.avatar {
		vertical-align: middle;
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}

</style>



<section class=" " style="margin-top:70px">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center ">
                <nav class="nav-justified ">
                  <div class="nav nav-tabs " id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#pop1" role="tab" aria-controls="pop1" aria-selected="true">Popular Cars</a>
                    <a class="nav-item nav-link" id="pop2-tab" data-toggle="tab" href="#pop2" role="tab" aria-controls="pop2" aria-selected="false">Upcoming</a>
                    <a class="nav-item nav-link" id="pop3-tab" data-toggle="tab" href="#pop3" role="tab" aria-controls="pop3" aria-selected="false">Newly Launched</a>
                    <a class="nav-item nav-link" id="pop3-tab" data-toggle="tab" href="#pop3" role="tab" aria-controls="pop3" aria-selected="false">People</a>
                    
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
                        <div class="pt-3"></div>
                        <p>1. There's another way to do this for layouts that doesn't have to put the navbar inside the container, and which doesn't require any CSS or Bootstrap overrides.

						Simply place a div with the Bootstrap container class around the navbar. This will center the links inside the navbar:</p>
                      </div>
                  <div class="tab-pane fade" id="pop2" role="tabpanel" aria-labelledby="pop2-tab">
                       <div class="pt-3"></div>
                        <p>2. There's another way to do this for layouts that doesn't have to put the navbar inside the container, and which doesn't require any CSS or Bootstrap overrides.

						Simply place a div with the Bootstrap container class around the navbar. This will center the links inside the navbar:
                      
                  </div>
                  <div class="tab-pane fade" id="pop3" role="tabpanel" aria-labelledby="pop3-tab">
                       <div class="pt-3"></div>
                        <p>3. There's another way to do this for layouts that doesn't have to put the navbar inside the container, and which doesn't require any CSS or Bootstrap overrides.

						Simply place a div with the Bootstrap container class around the navbar. This will center the links inside the navbar:
                      
                  </div>
                  
                </div>
            </div>
        </div>
    </div>
</section>








<div class="row justify-content-center" style="margin-top:70px">
	<button class="btn btn-outline-info" data-toggle="modal" data-target="#myModal" ><i class="fa fa-plus-circle"></i> Create Class</button>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
	<div class="modal-dialog">
	  <div class="modal-content">
	  
	    <!-- Modal Header -->
	    <div class="modal-header">
	      <h4 class="modal-title">Create a new Classroom</h4>
	      <button type="button" class="close" data-dismiss="modal">&times;</button>
	    </div>
	    

	    <form method="POST",action="", enctype="multipart/form-data">
	    	<!-- Modal body -->
		    <div class="modal-body">
	    		{% csrf_token %}
	      		{{form|crispy}}
		    </div>
		    
		    <!-- Modal footer -->
		    <div class="modal-footer">
		      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		      <button type="submit" class="btn btn-outline-success">Save</button>
		    </div>
	    </form>
	    
	  </div>
	</div>
</div>






<div class="container">
	<div class="row" style="margin-top:20px">
		{% for class in classes %}
		
		<div class="col-md-3" style="margin-top:20px">
			<div class="card" id="cardshadow" >
				<a href="{% url 'class_info' class.id %}">
				<img class="card-img-top" id="title_image" src="{{class.title_image.url}}" >
				<div class="card-body"></a>
					<h5 class="card-title">
						{{class.class_name}}
						{% if forloop.counter == 1 %}
						<i class="fa fa-info float-right" title="Info" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false"aria-controls="collapse{{ forloop.counter }}"></i>
						<!-- <small class="text-muted float-right">info</small> -->

						{%else%}

						<i class="fa fa-info float-right"title="Info" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false"aria-controls="collapse{{ forloop.counter }}"></i>
						
						{% endif %}
					</h5>
					
					<hr style="border-top: 1px solid #8c8b8b;">
					
					<div id="collapse{{ forloop.counter }}" class="collapse">
						<p class="card-text"><small class="text-muted">Class Created : {{class.date_created}}</small></p>
						<p class="card-text"><small class="text-muted">Section : {{class.section}}</small></p>
						<p class="card-text"><small class="text-muted">Subject : {{class.subject}}</small></p>
						<hr style="border-top: 1px solid #8c8b8b;">
					</div>

					<img src="{{class.user.userprofile.profile_pic.url}}" alt="Avatar"class="avatar float-right">
					<p class="card-text text-center">Ask class creator for joining key <b> {{class.user}}</b></p>		
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}