{% extends 'main.html' %}
{% load static %}
{% load humanize %}



{% block content %}


<link rel="stylesheet" type="text/css" href="{% static '/css/class_info.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/css/s_class_info.css' %}">

<div class="container" style="margin-top:70px">
        <div class="row">
            <div class="col-md-12 ">
                <nav class="nav-justified ">
                  <div class="nav nav-tabs " id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#pop1" role="tab" aria-controls="pop1" aria-selected="true">Stream</a>
                    <a class="nav-item nav-link" id="pop2-tab" data-toggle="tab" href="#pop2" role="tab" aria-controls="pop2" aria-selected="false">Class Work</a>
                    <a class="nav-item nav-link" id="pop3-tab" data-toggle="tab" href="#pop3" role="tab" aria-controls="pop3" aria-selected="false">People</a>
                    <!-- <a class="nav-item nav-link" id="pop3-tab" data-toggle="tab" href="#pop3" role="tab" aria-controls="pop3" aria-selected="false">Grades</a> -->
                    
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  	<div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
                        <div class="pt-3"></div>
					    	<div class="row ">
					    		<div class="col-md-12">
					    		    <div class="card profile-card-2 rounded" id="cardshadow">
					                    <div class="card-img-block">
					                        <img class="img-fluid rounded" src="{{class.title_image.url}}" alt="Card image cap" />
					                    </div>
					                    <div class="card-body pt-4">
					                        <img src="{{class.user.userprofile.profile_pic.url}}" alt="profile-image" class="profile"/>
					                        <h4 class="card-title">{{class.class_name}}</h4>
					                        <p class="card-text" style="text-align:left;">last updated<i class="fa fa-clock-o" aria-hidden="true"></i>{{class.last_updated|timesince}} ago</p>
					                        <hr style="border-top: 1px solid #F06529;">
					                        <p class="">This class has been created by <b>{{class.user.first_name}}</b> on <strong>{{class.date_created}}</strong></p>
					                        
					                       <!--  <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a></div> -->
					                    </div>
					                </div>
					    		</div>						    		
					    	</div>
					    	<div class="container">
		                      	<div class="row" >
						    		<div class="col-md-2 rounded" id="cardshadow" style="margin-top:20px;margin-right:20px;">
						    			{% if assignments %}
						    			{% for assignment in assignments%}
						    			<div class="card border-0">
						    				<div class="card-body">
						    					<h6 class="card-title">
						    						{{assignment.title}}
						    					</h6>
						    					<i class="fa fa-clock-o" id="time-left"> Time left</i>
						    					<div class="time-until">
						    						
						    						{{assignment.due_date|timeuntil}}

						    					</div>
						    					
						    				</div>
						    			</div>
						    			<hr style="border-top: 1px solid #F06529;">
						    			
						    			{% endfor %}
						    			{% else %}

						    			<p>No assignments found</p>


						    			<p class="text-muted mt-3" style="font-size:small;text-align:center">Wohoo! No Work</p>

						    			{% endif %}
						    		</div>
						    		<div class="col rounded" style="margin-top:20px">
						    			<div class="row rounded" id="cardshadow" >
						    				<div class="col rounded">
						    					<div class="chip">
												  <img src="{% static 'images/nav logo.png' %}" alt="Person" width="96" height="96">
												  <b data-toggle="collapse" data-target="#collapseAnnounce" aria-expanded="false"aria-controls="collapseAnnounce">Announce something to your class</b>
												</div>

							    				<div id="collapseAnnounce" class="collapse">
													<p class="card-text">Class Created :</p>
													<p class="card-text">Section :</p>
													<p class="card-text">Subject :</p>
													<hr style="border-top: 1px solid #8c8b8b;">
												</div>
											</div>
						    			</div>
						    		</div>
							    </div>
							</div>
                      	</div>
                  	<div class="tab-pane fade" id="pop2" role="tabpanel" aria-labelledby="pop2-tab">
                       <div class="pt-3"></div>
						{% if assignments %}
						{% for assignment in assignments%}
						<div class="card border border-dark shadow-0 mb-3" style="max-width: 60rem">
						  <!-- <div class="card-header">Header</div> -->
						  <div class="card-body text-dark">
						    <h4 class="card-title" style="text-align:left;">
						    	{{assignment.title}}
						    </h4>
						    <hr style="border-top: 1px solid #F06529;">


						    <div title="Info" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false"aria-controls="collapse{{ forloop.counter }}">
							    <div class="card-text">
							    	<p style="text-align:left;"><i class="fas fa-file-alt"></i>
							    		{{assignment.title}}
							    		<small class="text-muted">
							    			Posted {{assignment.assigning_date}}
							    		</small><i class="fa fa-clock-o" aria-hidden="true"></i>
							    		<span style="float:right;color:#ff3333">
							    			Due date: {{assignment.due_date}}
							    		</span>
							    	</p>
							    	
							    </div>
							    <div style="clear: both"></div>
							</div>

							<div id="collapse{{ forloop.counter }}" class="collapse">
								<p class="card-text">
									{% if assignment.file %}
									<a style="margin-right:3px" href="{{ assignment.file.url }}" target="_blank">
										<i class="fas fa-eye"> view file</i>
									</a>
									<a href="{{ assignment.file.url }}">
										<i class="fas fa-file-download"> download file</i>
									</a>
									{% else %}
									<h6>No file included </h6>
									{% endif %}
								</p>
								<p class="card-text">Instructions : <small class="text-muted">{{assignment.instruction}}</small></p>
								<hr style="border-top: 1px solid #8c8b8b;">
								<a style="margin-right:3px" href="" data-toggle="modal" data-target="#submitAssignmentModal">
									<i class="fa fa-upload"> Submit Assignment</i>
								</a>
								
							</div>

						  </div>
						</div>
						{% endfor %}
						{% endif %}

                  	</div>
                  <div class="tab-pane fade" id="pop3" role="tabpanel" aria-labelledby="pop3-tab">
                       <div class="pt-3"></div>
							<div class="card border-0">
								<div class="card-header">
									<h4>Instructors</h4>
								</div>
								
								<div class="card-body">
									<h6 class="card-subtitle mb-2 text-muted">{{instructors.count}} Instructor{{instructors.count|pluralize}} are in this course</h6>
									<p class="card-text">
										<div class="avatar-group">
											{% for instructor in instructors %}
											<div class="row">
												<div class="col-md-12 ">
													<a>
														<div class="chip">
														  <img src="{{instructor.instructor.userprofile.profile_pic.url}}" alt="Person" width="96" height="96">
														  <b>{{instructor.instructor.first_name}} {{instructor.instructor.last_name}}</b>
														</div>
														<!-- <img src="{{instructor.instructor.userprofile.profile_pic.url}}" alt="Avatar" class="md-avatar rounded-circle">
														<b class="text-muted font-size-sm">{{instructor.instructor.first_name}}</b> -->
													</a>
												</div>
											</div>
											{% endfor %}
										</div>
									</p>
								</div>
							</div>
							<!-- End of Total Instructors Card  -->

							<!-- Total Students Card  -->

							<div class="card border-0">
								<div class="card-header">
									<h4>Students
										<span class="float-right" style="color:tomato">
    									<a href="{% url 'chat:course_chat_room' class.id %}" }>Student Chat </a> <i class="fa fa-comment-o"></i>
										</span> 
									</h4>
									
								</div>
								<div class="card-body">
									<h6 class="card-subtitle mb-2 text-muted">{{students.count}} student{{students.count|pluralize}} are enrolled in this course</h6>
									<p class="card-text">
										<div class="avatar-group">
											{% for student in students %}
											<div class="row"  style="border-left:3px solid #F06529;margin-top:5px;">
												<div class="col-md-12 ">
													<a>
														{% if student.student.username == request.user.username %}
														<div class="chip">
														  <img src="{{student.student.userprofile.profile_pic.url}}" alt="Person" width="96" height="96">
														  <b style="color:#8dd457">{{student.student.first_name}} {{student.student.last_name}} (Me)</b>
														</div>
														<!-- <img src="{{student.student.userprofile.profile_pic.url}}" alt="Avatar" class="md-avatar rounded-circle">
														<b class=" font-size-sm" style="color:#8dd457">{{student.student.first_name}} {{student.student.last_name}} (Me)</b> -->
														<span class="fa fa-clock-o " style="color:#8dd457">
															Joined {{student.added_at|timesince}} ago
														</span>
														{% else %}
														<div class="chip">
														  <img src="{{student.student.userprofile.profile_pic.url}}" alt="Person" width="96" height="96">
														  <b>{{student.student.first_name}} {{student.student.last_name}}</b>
														</div>
														<!-- <img src="{{student.student.userprofile.profile_pic.url}}" alt="Avatar" class="md-avatar rounded-circle">
														<b class="text-muted font-size-sm">{{student.student.first_name}} {{student.student.last_name}}</b> -->
														<span class="fa fa-clock-o" style="color:#7bc5ed">
															Joined {{student.added_at|timesince}} ago
														</span>
														
														{% endif %}
													</a>
												</div>
											</div>
											{% endfor %}
										</div>
									</p>
								</div>
							</div>
							<!-- End of Total Instructors Card  -->




                  </div>
                  
                </div>
            </div>
        </div>
    </div>



<br>


<style>

.vertical-center {
  margin top :10px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
</style>




    <!-- The Submit Assignment Modal -->
<div class="modal fade" id="submitAssignmentModal">
	<div class="modal-dialog">
	  <div class="modal-content">
	  
	    <!-- Modal Header -->
	    <div class="modal-header">
	      <h4 class="modal-title">Submit Assignment</h4>
	      <button type="button" class="close" data-dismiss="modal">&times;</button>
	    </div>
	    

	    <form method="POST",action="", enctype="multipart/form-data">
	    	<!-- Modal body -->
		    <div class="modal-body">
	    		
		    </div>
		    
		    <!-- Modal footer -->
		    <div class="modal-footer">
		      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		      <button type="submit" class="btn btn-outline-success" name="edit_class">Save</button>
		    </div>
	    </form>
	    
	  </div>
	</div>
</div>

{% endblock %}