{% extends 'main.html' %}
{% load static %}

{% block content %}
<style>
	body{
		background-color: #e2e8f0;
	}

	.card-img-top {
		max-height:169px;
	}
	.carousel-indicators li{
		background-color: #F06529;
		position: relative;
		bottom: -50px;
	}
	#corosel{
		margin:20px;
	}
	.card:hover{
     	transform: scale(1.05);
  	 	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
	}

  /* Avatar group css */
  .avatar-group.avatar-group-lg.avatar-group-overlapped .avatar {
    margin-right: -15px;
  }
  .avatar-group.avatar-group-lg .avatar {
    font-size: .95rem;
    width: 3.25rem;
    height: 3.25rem;
  }
  .avatar-group {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .avatar-group .avatar {
      font-size: .9rem;
      width: 2.625rem;
      height: 2.625rem;
  }
  .avatar .avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
	
</style>



<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" style="height:100vh; background-size: cover; background-image: url(https://external-preview.redd.it/CffJcty_qh0pidqg7jeArlGd9k448_9aRvdSFULPjgg.png?auto=webp&s=8569dc819b38833953348234e2a54ea7fb1d8dd3);">
  
   <div class="container-fluid">
      <div class="row  justify-content-center align-items-center d-flex text-center h-100">
        <div class="col-12 col-md-8  h-50 ">
            <h1 class="display-2  text-light mb-2 mt-5"style="text-shadow: 2px 2px #00004d;"><strong>Studydoorway</strong> </h1>
            <p class="lead  text-light mb-5" style="text-shadow: 2px 2px #00004d;">"Online learning is not the next big thing, it is the now big thing.”
            </p>
      			<p>
      				<a href="{% url 'create_class' %}" class="btn bg-danger shadow-lg btn-round text-light btn-lg btn-rised">Join Us</a>
      			</p>
             <p class="lead mb-10" style="color: white; text-shadow: 1px 1px #00004d;"> By creating or joining a classroom</p>
            <p class="lead mb-10" style="color: #e066ff;text-shadow: 1px 1px #00004d;">And Be Part of Studydoorway Online Learning platform
            </p>
      			<div class="btn-container-wrapper p-relative d-block  zindex-1">
      				<a class="btn btn-link btn-lg mt-md-3 mb-4 scroll align-self-center text-light" href="#corosel">
      				    <i class="fa fa-angle-down fa-4x text-light"></i>
      				</a>   
      			</div>   
        </div>
      </div>
    </div>
</section>



<div class="avatar-group avatar-group-lg avatar-group-overlapped mr-40 mt-25">
    <div class="avatar">
        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" class="avatar-img rounded-circle">
    </div>
    <div class="avatar">
        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="user" class="avatar-img rounded-circle">
    </div>
    <div class="avatar">
        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="user" class="avatar-img rounded-circle">
    </div>
</div>

{% endblock %}
