{% extends 'main.html' %}
{% load static %}

{% block content %}
<style>
	body{
		background-color: #e2e8f0;
	}

	.card-img-top {
		max-height:169px;
	}
	.carousel-indicators li{
		background-color: #F06529;
		position: relative;
		bottom: -50px;
	}
	#corosel{
		margin:20px;
	}
	.card:hover{
     	transform: scale(1.05);
  	 	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
	}
	
</style>



<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" style="height:100vh; background-size: cover; background-image: url(https://external-preview.redd.it/CffJcty_qh0pidqg7jeArlGd9k448_9aRvdSFULPjgg.png?auto=webp&s=8569dc819b38833953348234e2a54ea7fb1d8dd3);">
  
   <div class="container-fluid">
      <div class="row  justify-content-center align-items-center d-flex text-center h-100">
        <div class="col-12 col-md-8  h-50 ">
            <h1 class="display-2  text-light mb-2 mt-5"style="text-shadow: 2px 2px #00004d;"><strong>Studydoorway</strong> </h1>
            <p class="lead  text-light mb-5" style="text-shadow: 2px 2px #00004d;">"Online learning is not the next big thing, it is the now big thing.”</p>
            {% if user.is_authenticated and user.userprofile.role == 'Student' %}
            <p class="lead  text-light mb-5">"You are now loged in as <b style="color: #ffcc80;text-shadow: 2px 2px #00004d;">Student</b>"</p>
			<p>
				<a href="{% url 'register_as_teacher' user.userprofile.id %}" class="btn bg-danger shadow-lg btn-round text-light btn-lg btn-rised">Register as Lecturer</a>
			</p>
			<p class="lead mb-10" style="color: #e066ff;text-shadow: 1px 1px #00004d;">And Be Part of Studydoorway Online Learning platform</p>
					{% else %}
          <p class="lead  text-light mb-5">"You are now loged in as <b style="color: #ffcc80;text-shadow: 2px 2px #00004d;">Teacher"</b></p>
          <p>
            <a href="{% url 'register_as_teacher' user.userprofile.id %}" class="btn bg-danger shadow-lg btn-round text-light btn-lg btn-rised">Register as Student</a>
          </p>
          <p class="lead mb-10" style="color: #e066ff;text-shadow: 1px 1px #00004d;">And Be Part of Studydoorway Online Learning platform</p>
          {% endif %}
			<div class="btn-container-wrapper p-relative d-block  zindex-1">
				<a class="btn btn-link btn-lg mt-md-3 mb-4 scroll align-self-center text-light" href="#corosel">
				    <i class="fa fa-angle-down fa-4x text-light"></i>
				</a>   
			</div>   
        </div>
      </div>
    </div>
</section>














  <div class="justify-content-center" id="corosel">

    
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Controls-->
      <div class="controls-top text-center" style="margin:15px">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-caret-square-left fa-3x"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-caret-square-right fa-3x"></i></a>
      </div>
      <!--/.Controls-->

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">
        	
          <div class="row">
          	{% for class in classes|slice:"0:3" %}
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="{{class.title_image.url}}" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">{{class.class_name}}</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
			{% endfor %}            
<!-- 
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div> -->
          </div>
          

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

          <div class="row">
          	{% for class in classes|slice:"3:6" %}
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="{{class.title_image.url}}" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">{{class.class_name}}</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
            {% endfor %}

            <!-- <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div> -->
          </div>

        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Third slide-->

      </div>
      <!--/.Slides-->

    </div>
    <!--/.Carousel Wrapper-->


  </div>




{% endblock %}
